<!DOCTYPE html>
<html>
  <head>
    <title>IwrProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if logged_in? %>
      <%= render 'shared/navbar/navbar' %>

      <%= yield %>

    <% else %>
      <%= render 'shared/navbar/navbar' %>

      <%= yield %>

    <% end %>
    <%= render 'shared/footer/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
